.update-password-header {
  margin-bottom: 1rem;
  color: black;
}
.password-update-forget-text-box {
  margin-top: 0.3rem;
  text-align: right;
}
.passord-update-forget-text {
  text-align: right;
  color: var(--primaryColor);
}
