.search-input {
  width: 100%;
  position: relative;
}
.search-input input {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 1.5rem;
  border-radius: 30px;
  border: 1px solid var(--formBorderColor);
}

.search-icon-container {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 60%;
    margin: 0 auto;
    margin-top: 10rem;
  }
}
