@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --primaryColor: #0e65ee;
  --whiteColor: #fff;
  --dividerColor: ##e5e5e5;
  --lightGrey: rgba(0, 0, 0, 0.7);
  --formBorderColor: #abb6e6;
  --primaryFont: 'Open Sans', sans-serif;
  --radius: 0.5rem;
  --cardColor: #cfcfcf;
  --progressBg: #c4c4c4;

  --transition: all 0.3s linear;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--primaryFont);
  color: var(--lightGrey);
}
.choose-plan {
  padding: 2.5rem;
}
.choose-plan h1 {
  color: var(--primaryColor);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.subscribe-image-container {
  display: flex;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.subscribe-img {
  width: 100%;
}
.plans-container {
  padding-inline: 2.2rem;
}
.single-plan {
  padding: 1rem;
  height: 93px;
  width: 100%;
  margin-block: 2.8rem;
  border: 0.3px solid Var(--formBorderColor);
  border-radius: 10px;
}
.plan-header {
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
  color: var(--primaryColor);
}
.single-plan p {
  color: var(--lightGrey);
}
.best-plan {
  position: relative;
}
.best-plan-flag {
  height: 20px;
  width: 75px;
  padding-inline: 0.3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--primaryColor);
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 10px;
}
.best-plan-flag img {
  width: 8px;
  height: 8px;
}
.best-plan-flag p {
  color: var(--whiteColor);
  font-size: 12px;
}
.cancel-link-container {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
}
.cancel-link {
  color: var(--primaryColor);
}

.trial-link-container {
  margin-top: 4rem;
  background: var(--primaryColor);
  height: 50px;

  border-radius: var(--radius);
  cursor: pointer;
}
.trial-link {
  color: var(--whiteColor);
  font-weight: 600;
  display: inline-block;
  font-size: 1.125rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 280px) {
  .choose-plan {
    padding: 0.5rem;
  }
  .single-plan {
    height: 120px;
  }
}
@media screen and (max-width: 500px) {
  .plans-container {
    padding-inline: 1rem;
  }
}

@media screen and (min-width: 765px) {
  .choose-plan {
    padding-inline: 5rem;
  }
  .plans-container {
    padding-inline: 20%;
  }
  .single-plan {
    margin-block: 3rem;
  }
}

/*
=============
Form Page
=============
*/

.page {
  padding: 2rem;
}
.form {
  padding-inline: 2.2rem;
}

.form-header {
  color: var(--primaryColor);
  text-align: center;
}
.form-control {
  margin-block: 2rem;
}

.form-control label {
  display: block;
  color: var(--primaryColor);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.input-container {
  height: 50px;
  width: 100%;
}
.input-container input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: var(--radius);
  outline: none;
  font-size: 1.2rem;
  border: 0.5px solid var(--formBorderColor);
}
.password p {
  text-align: right;
  margin-top: 1rem;
  color: var(--primaryColor);
}

.form-text {
  margin-block: 2rem;
  text-align: center;
}

.other-login-method {
  padding: 1rem;
  width: 100%;
  height: 50px;
  border: 0.5px solid var(--formBorderColor);
  border-radius: var(--radius);
  margin-top: 2rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 2rem;
}

.submit-btn {
  margin-top: 4.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 50px;
  background: var(--primaryColor);
  border: none;
  font-size: 1.2rem;
  color: var(--whiteColor);

  border-radius: var(--radius);
  cursor: pointer;
}
.submit-btn-link {
  color: var(--whiteColor);
  display: inline-block;
  padding-top: 1rem;
  text-align: center;
  height: 100%;
  width: 100%;
}
.signup-btn {
  color: var(--primaryColor);
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .form-header {
    padding-inline: 10%;
  }
  .form {
    padding-inline: 28%;
  }
}

.form-question {
  margin-top: 2rem;
}

/*Reset Password Page*/

.reset-guide-text {
  text-align: center;
  margin-top: 1rem;
}

.get-code-btn {
  margin-top: 10rem;
}

#password-match-text {
  text-align: left;
  color: var(--lightGrey);
}

/*Info Page*/

.city-options {
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  border: 0.5px solid var(--formBorderColor);
  cursor: pointer;
  font-size: 1rem;
  color: var(--lightGrey);
}

.info-form-question {
  margin-top: -1px;
}
.number-input-control {
  display: flex;
  gap: 1rem;
}
.call-code {
  width: 56px;
  height: 50px;
  border-radius: var(--radius);
  cursor: pointer;
  border: 0.5px solid var(--formBorderColor);
}
.number-input {
  width: 100%;
}
.number-input input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: 0.5px solid var(--formBorderColor);
  outline: none;
  padding: 1rem;
  font-size: 1rem;
}

/*Purpose Page*/
.purpose-password-header {
  color: var(--primaryColor);
  margin-bottom: 1.5rem;
  font-weight: bold;
}

/*Desktop Menu */
.desktop-menu {
  position: fixed;
  top: -0.5rem;
  left: 0;
  right: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.desktop-menu-list {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.desktop-menu img {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}
/*mobile Menu */
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  z-index: 100;
  transition: var(--transition);
  margin-left: -100%;
}

.close-btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  background: var(--whiteColor);
  display: inline-block;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn i {
  font-size: 2rem;
  color: var(--primaryColor);
}
.mobile-menu {
  position: fixed;
  top: 0;
  margin-right: 2rem;
  padding: 1.5rem;
  width: 75%;
  background: var(--whiteColor);
  min-height: 100vh;
  box-shadow: 0 7px 40px -10px rgba(150, 170, 180, 0.5);
}
.show-mobile-menu {
  margin-left: 0;
}

.menu-bar i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--primaryColor);
}
.divider {
  margin-top: 1.5rem;
  height: 1px;
  width: 100%;
  background: var(--dividerColor);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.mobile-menu-item {
  display: block;
  margin-block: 2rem;
  color: var(--primaryColor);
}
.mobile-menu-header {
  display: flex;
  justify-content: center;
}
.company-logo img {
  cursor: pointer;
}

.mobile-menu-footer {
  margin-top: 9rem;
}

.mobile-menu-footer .mobile-menu-item {
  color: var(--lightGrey);
}

@media screen and (max-width: 500px) {
  .close-btn {
    right: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-container {
    display: none;
  }
}

.user-icon img {
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-top: 1.7rem;
}

/*Settings Pages Generalstyles */

.setting-pages-header {
  padding: 2rem;
  color: var(--primaryColor);
  font-size: 2rem;
  font-weight: bold;
}
