.order-summary {
  padding-inline: 1.5rem;
  padding-bottom: 2rem;
}
.order-summary-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-block: 2rem;
}
.order-summary-header h1 {
  color: var(--primaryColor);
  font-size: 2rem;
}
.order-summary-header p {
  color: black;
  padding-top: 0.5rem;
}
.plan-duration {
  padding-block: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.duration-item {
  margin-block: 2rem;
  height: 50px;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.duration-amount,
.plan-features {
  color: black;
  font-weight: 700;
  text-align: justify;
}
.total {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
.total h3 {
  color: #0cbc8b;
}

.order-summary-payment h2 {
  color: black;
}
.order-summary-payment-method {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-summary-payment-method-icons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.order-summary-payment-method-icons img {
  cursor: pointer;
}
.add-payment-btn {
  width: 100px;
  height: 50px;
}
.add-payment-btn button {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: var(--whiteColor);
  color: var(--primaryColor);
  border-radius: var(--radius);
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--primaryColor);
}
.confirm-btn-container {
  padding-block: 1.2rem;
}
@media screen and (min-width: 768px) {
  .order-summary {
    padding-inline: 20%;
  }
}
